interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&orderby=time-asc&offset=1&minmagnitude=6.6&mindepth=-100&maxmagnitude=10.0&maxdepth=1000&limit=20000&endtime=1994-01-18T12%3A35%3A00&starttime=1994-01-17T12%3A30%3A00
  response:
    body:
      string: '{"type":"FeatureCollection","metadata":{"generated":1564815130000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&orderby=time-asc&offset=1&minmagnitude=6.6&mindepth=-100&maxmagnitude=10.0&maxdepth=1000&limit=20000&endtime=1994-01-18T12%3A35%3A00&starttime=1994-01-17T12%3A30%3A00","title":"USGS
        Earthquakes","status":200,"api":"1.8.1","limit":20000,"offset":1,"count":1},"features":[{"type":"Feature","properties":{"mag":6.7000000000000002,"place":"1km
        NNW of Reseda, CA","time":758809855390,"updated":1518716430169,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/ci3144585","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ci3144585&format=geojson","felt":10955,"cdi":8.5999999999999996,"mmi":8.5999999999999996,"alert":null,"status":"reviewed","tsunami":0,"sig":1551,"net":"ci","code":"3144585","ids":",cinorthrid,choy19940117123055,gcmtc011794b,ci3144585,usp00066k9,gcmt19940117123055,duputel011794b,atlas19940117123055,iscgem189275,","sources":",ci,choy,gcmt,ci,us,gcmt,duputel,atlas,iscgem,","types":",associate,dyfi,focal-mechanism,general-link,impact-text,moment-tensor,nearby-cities,origin,phase-data,shakemap,trump-shakemap,","nst":0,"dmin":null,"rms":0.31,"gap":29.699999999999999,"magType":"mw","type":"earthquake","title":"M
        6.7 - 1km NNW of Reseda, CA"},"geometry":{"type":"Point","coordinates":[-118.53700000000001,34.213000000000001,18.202000000000002]},"id":"ci3144585"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 03 Aug 2019 06:52:10 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&orderby=time-asc&offset=1&minmagnitude=9.0&mindepth=-100&maxmagnitude=9.9&maxdepth=1000&limit=20000&updatedafter=2010-01-01T00%3A00%3A00&endtime=2010-02-01T00%3A00%3A00&starttime=2008-01-01T00%3A00%3A00
  response:
    body:
      string: '{"type":"FeatureCollection","metadata":{"generated":1564815131000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&orderby=time-asc&offset=1&minmagnitude=9.0&mindepth=-100&maxmagnitude=9.9&maxdepth=1000&limit=20000&updatedafter=2010-01-01T00%3A00%3A00&endtime=2010-02-01T00%3A00%3A00&starttime=2008-01-01T00%3A00%3A00","title":"USGS
        Earthquakes","status":200,"api":"1.8.1","limit":20000,"offset":1,"count":0},"features":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 03 Aug 2019 06:52:11 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=earthquake&orderby=time-asc&offset=1&minmagnitude=0&mindepth=-100&maxmagnitude=0.1&maxdepth=1000&limit=20000&endtime=2017-01-30T00%3A00%3A00&starttime=2017-01-01T00%3A00%3A00
  response:
    body:
      string: '{"type":"FeatureCollection","metadata":{"generated":1564815131000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&eventtype=ear[...]
